<h1 style=color:red>Add New User</h1><br>
<%= form_with model: @user, local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :first_name %>
    <% @user.errors.full_messages_for(:first_name).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :Email %><br>
    <%= form.email_field :email%>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  
<% end %>
<%= link_to 'Back', users_path %><br><br>
<%= link_to 'Back to dashboard', root_path %>
