<h1 style=color:red>Add new User</h1><br>

<%= form_with scope: :user, url: users_path, local: true do |form| %>

<p>
  <%= form.label :FirstName %><br>
  <%= form.text_field :first_name %>
</p>

<p>
  <%= form.label :LastName %><br>
  <%= form.text_field :last_name %>
</p>

<p>
  <%= form.label :Email %><br>
  <%= form.email_field :email%>
  <% @user.errors.full_messages_for(:email).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>
</p>

<p>
  <%= form.label :ContactNo %><br>
  <%= form.telephone_field :contact_no%>
  <% @user.errors.full_messages_for(:contact_no).each do |message| %>
    <div style="color:red"><%= message %></div>
    <% end %>
</p>

<p>
  <%= form.label :Address %><br>
  <%= form.text_area :address %>
</p>

<p>
  <%= form.label :Gender%><br>
  <%= form.select(:gender, options_for_select([['male', 'Male'], ['female','Female']]), {:prompt => 'Select Gender'})%>


</p>

<p>
  <%= form.submit %>
</p>

<% end %>

<%= link_to 'Back', users_path %>
<br>
<br>
<%= link_to 'Back to dashboard', root_path %>
