
<h1><%= link_to "Create new Users", new_user_path, class: "btn btn-primary" %></h1>
<h1><%= link_to 'Back to dashboard', root_path %></h1>
<br>
<h1 style="color:red">Users List</h1>

<table>
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>ContactNo</th>
    <th>Address</th>
    <th>Gender</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= user.id%></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.contact_no %></td>
    <td><%= user.address %></td>
    <td><%= user.gender %></td>
    </a>
  </tr>
<% end %>
</table>
