<h1><%= @user.Id %></h1>
<h1><%= @user.Firstname %></h1>
<h1><%= @user.Lastname %></h1>
<h1><%= @user.Email %></h1>
<h1><%= @user.Contactno %></h1>
<h1><%= @user.Address %></h1>
<h1><%= @user.Gender %></h1>
