<h1 style="color:red"><center>Shop Management Dashboard</center></h1><br>

<table class="table table-bordered">
  <tr>
    <th>Product Name</th>
    <th>Company Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Add to Cart</th>
  </tr>

  <% @sub_product.group_by { |sub_product| sub_product.product }.each do |product, sub_products| %>
    <% sub_products.each do |sub_product| %>
      <tr>
        <% if sub_product == sub_products.first %>
          <td rowspan="<%= sub_products.size %>"><span style="color:red;"><%= product.name %></span></td>
        <% end %>
        <td><%= sub_product.company_name %></td>
        <td><%= sub_product.description %></td>
        <td><%= sub_product.price %></td>
        <td><%= link_to "add", add_to_cart_path(sub_product: sub_product.id), remote: true %></td>
      </tr>
    <% end %>
  <% end %>
</table>
