<h1 style="color:red">Add New Order</h1>
<br>
<%= form_with model: @order, local: true do |form| %>
  <p>
    <%= form.label :UserName %><br>
    <%= form.collection_select(:user_id, User.all, :id, :first_name, promt: true)%>
    <% @order.errors.full_messages_for(:user_id).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </p>

  <%= form.fields_for :product_orders do |product_order_form| %>
    <p>
      <%= product_order_form.label :ProductName %><br>
      <%= product_order_form.collection_select(:product_id, Product.all, :id, :name, promt: true)%>
    </p>
  <% end %>

    <p>
      <%= form.label :Quantity %><br>
      <%= form.text_field :quantity %>
      <% @order.errors.full_messages_for(:quantity).each do |message| %>
        <div style="color:red"><%= message %></div>
      <% end %>
    </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', orders_path %>
<br>
<br>
<%= link_to 'Back to dashboard', root_path %>
