<%= javascript_include_tag "products", "data-turbolinks-track" => true %>

<%= form_with model: @order, local: true do |form| %>
  <p>
    <%= form.label :UserName %><br>
    <%= form.collection_select(:user_id, User.all, :id, :first_name, { prompt: 'Select a UserName' }, prompt: true) %>
    <% @order.errors.full_messages_for(:user_id).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %><br><br>
<%= link_to 'Back to dashboard', root_path %>
