<h1>Add New Order</h1>
<br>

<%= form_with scope: :order, url: orders_path, local: true do |form| %>

<p>
  <%= form.label :UserName %><br>
  <%= form.collection_select(:user_id, User.all, :id, :first_name, promt: true)%>

</p>

<p>
  <%= form.label :ProductName %><br>
  <%= form.collection_select(:product_id, Product.all, :id, :name, promt: true)%>
</p>

<p>
  <%= form.label :Quantity %><br>
  <%= form.text_field :quantity %>
</p>


<p>
  <%= form.submit %>
</p>

<% end %>

<%= link_to 'Back', orders_path %>
<br>
<br>
<%= link_to 'Back to dashboard', root_path %>
