<tr>
<td><%= user.id%></td>
<td><%= link_to order.user_id, order %></td>
<td><%= order.product_id %></td>
<td><%= order.quantity %></td>
<td><%= order.total_price %></td>

<td><=% link_to "Edit", edit_order_path(order.id) %></td>
<td><=% link_to "Destroy", order_path(order.id),
method: :delete,
data: {confirm:'Are you sure ?'} %></td>
</tr>
