<h1><%= link_to "Add new Order", new_order_path, class: "btn btn-primary" %></h1>
<h4><%= link_to 'Back to dashboard', root_path %></h4><br>
<h1 style="color:red">Orders List</h1>
<table class="table table-bordered">
  <tr>
    <th>UserId</th>
    <th>Total Price</th>
    <th>Delete</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <% if order.user%>
          <%= link_to order.user.first_name, order %>
        <% end %>
      </td>

      <% order.product_orders.each do |order| %>
      <td><%= order.total_price %></td>
      <% end %>

      <td><%= link_to "Destroy", order_path(order.id),
      method: :delete,
      data: {confirm:'Are you sure ?'} %></td>
    </tr>
  <% end %>
</table>
