<h4><%= link_to 'Back to Orders', orders_path %></h4><br>
<h4 style="color:red;">Search-Items Details</h4>
<div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<% @search_results.each do |order| %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% order.order_items.each do |item| %>
        <% sub_product = item.sub_product %>
        <% if sub_product && sub_product.company_name && sub_product.description &&
             (sub_product.company_name.downcase.include?(@search_query.downcase) || sub_product.description.downcase.include?(@search_query.downcase)) %>
          <tr>
            <td><%= sub_product.company_name %></td>
            <td><%= sub_product.description %></td>
            <td><%= sub_product.price %></td>
            <td><%= item.quantity %></td>
            <td><%= item.total %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
