<h1 style=color:red>Order Details</h1><br>
<p><strong>UserId:</strong> <%= @order.user_id%></p>
<p><strong>Quantity:</strong> <%= @order.quantity %></p>

<%= link_to "Edit", edit_order_path(@order.id) %><br><br>
<%= link_to "Destroy", order_path(@order.id),
    method: :delete,
    data: {confirm:'Are you sure ?'} %><br><br>
<%= link_to "Back", orders_path %>


