<h4 style="color:red;">Cart Details</h4><br>

<% if @cart.present? && @cart.cart_items.present? %>
  <table class="table table-bordered">
    <tr>
      <th>CompanyName</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Remove</th>
    </tr>
    <tbody>
      <% @cart.cart_items.order(:created_at).each do |cart_item| %>
        <% if cart_item.sub_product.present? %>
          <tr>
            <td><%= cart_item.sub_product.company_name %></td>
            <td><%= cart_item.sub_product.description %></td>
            <td><%= cart_item.sub_product.price %></td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), local: true do |f| %>
                <%= f.number_field :quantity, value: cart_item.quantity, min: 1 %>
                <%= f.submit 'Update' %>
              <% end %>
            </td>
            <td><%= cart_item.total %></td>
            <td>
              <%= link_to 'Remove', cart_item_path(cart_item.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="4" class="text-right"><strong>Grand Total:</strong></td>
        <td><%= @cart.grand_total %></td>
      </tr>
    </tbody>
  </table>

  <%= button_to 'Buy Now', create_order_cart_path(@cart), method: :post, class: "button" %>

<% else %>
  <p>Your cart is empty, add an item to place an order.</p>
<% end %>
