
<h1 style = color:red>Shopping Cart</h1>

  <table class="table table-bordered">
      <tr>
        <th>Id</th>
        <th>CompanyName</th>
        <th>Description</th>
        <th>MfgDate</th>
        <th>Price</th>
        <th>Remove</th>
        <th>Buy Now</th>
      </tr>
    <body>
      <% @carts.each do |cart| %>
        <tr>
          <% if cart.sub_product_id.present? %>
            <td><%= cart.sub_product_id%></td>
            <td><%= cart.sub_product.company_name%></td>
            <td><%= cart.sub_product.description%></td>
            <td><%= cart.sub_product.mfg_date%></td>
            <td><%= cart.sub_product.price%></td>
            <td><%= link_to "Remove", cart_path(cart.id),
            method: :delete,
            data: {confirm:'Are you sure ?'} %></td>
            <td><%= link_to "Buy Now", '#' %></td>
          <% end %>
        </tr>
      <% end %>
    </body>
  </table>
