
<tr>
  <td><%= sub_product.product_id%></td>
  <td><%= sub_product.company_name%></td>
  <td><%= sub_product.description%></td>
  <td><%= sub_product.mfg_date%></td>
  <td><%= sub_product.price%></td>

  <td><=% link_to "Edit", edit_sub_product_path(sub_product.id) %></td>
  <td><=% link_to "Destroy", sub_product_path(sub_product.id),
  method: :delete,
  data: {confirm:'Are you sure ?'} %></td>

 </tr>
