<h1><%= link_to "Add new SubProduct", new_sub_product_path, class: "btn btn-primary" %></h1>
<h1><%= link_to 'Back to dashboard', root_path %></h1>
<br>
<h1 style="color:red">SubProducts List</h1>


<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>CompanyName</th>
    <th>Description</th>
    <th>MfgDate</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @subproducts.each do |sub_product| %>
    <tr>
      <td><%= sub_product.id%></td>
      <td><%= sub_product.company_name%></td>
      <td><%= sub_product.description%></td>
      <td><%= sub_product.mfg_date%></td>
      <td><%= sub_product.price%></td>
      <td><%= link_to "Edit", edit_sub_product_path(sub_product.id) %></td>
      <td><%= link_to "Destroy", sub_product_path(sub_product.id),
      method: :delete,
      data: {confirm:'Are you sure ?'} %></td>
      </a>
    </tr>
  <% end %>
</table>
