<!DOCTYPE html>
<html>
  <head>
    <title>ShopManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <hr>

    <div style ="display:flex;">
    <div style= "margin-right:25px;"><%= link_to "Home", root_path %></div>
    <div style= "margin-right:25px;"><%= link_to "Users","/users"%></div>
    <div style= "margin-right:25px;"><%= link_to "Products","/products"%></div>
    </div>

  <hr>
    <%= yield %>
  </body>
</html>
